.a{
    width: 500px;
    height: auto;

}
.b{
    width: 600px;
    height: auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;
    margin: auto;
    text-align: justify;
}
header{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    background-color: gray;
    width: 1000px;
    padding: 10px;
    margin: auto;
    border-radius: 50px
}
